<?php

namespace {{namespace}};

use {{base_class}} as Base{{base_class_name}};

/**
 * Eloquent class to describe the {{table_name}} table
 *
 */
class {{class_name}} extends Base{{base_class_name}}
{

}

