<?php

namespace {{namespace}};

use {{base_class}} as BaseModel;

/**
 * Class {{class_name}}
 *
 * Eloquent base class to describe the {{table_name}} table
 *
{{fields}} *
 **/

class {{class_name}} extends BaseModel
{
    protected $table = '{{table_name}}';
    {{content}}
    {{accessor_methods}}
    {{relation_methods}}
}

